@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&family=Nunito&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Epilogue;
    font-style: normal;
}

:root {
    --primary: white;
    --secondary: #391400;
    --orange: #EF6C57;
    --gray: rgba(255, 255, 255, 0.64);
    --Lightgold: #FDF0E9;
}

body {
    margin: auto;
    margin-bottom: 500px;
}

nav {
    margin: 30px auto auto;
    max-width: 1440px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    background-image: url("./src/background.png");
    min-height: 880px;
    width: 100%;
    margin-top: -31px;
    padding: 45px;
}

.logo {
    position: relative;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.menu a {
    text-decoration: none;
    font-family: Epilogue;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: var(--primary);
}

.contact button {
    font-family: Epilogue;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
    background-color: transparent;
    padding: 18px 35px;
    border: 1px solid rgba(255, 255, 255, 0.294);
    box-sizing: border-box;
    border-radius: 6px;
}

.Bheader {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1440px;
    justify-content: space-between;
}

.leftheader {
    /* max-width: 50%; */
    padding-top: 125px;
}

.rightheader {
    /* max-width: 50%; */
    padding-top: 120px;
}

.p1 {
    padding-bottom: 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--orange);
}

.p2 {
    position: relative;
    max-width: 513px;
    padding-bottom: 24px;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    z-index: 2;
    color: var(--primary);
}

.star {
    position: absolute;
    top: -27px;
    right: 77px;
    z-index: -1;
}

.p3 {
    padding-bottom: 34px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--gray);
}

.p4 {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--gray);
}

.p4 span {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--primary);
}

.Bheader-btns {
    display: flex;
    gap: 46px;
}

.B-Btn1 {
    background: #EF6D58;
    border-radius: 6px;
    padding: 18px 24px;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
    border: none;
}

.B-Btn2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--primary);
    background-color: transparent;
    border: none;
}

.userProfile1 {
    padding-top: 108px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.headerimg {
    position: relative;
    max-width: 570px;
}

main {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #FDF0E9;
}

img.companies {
    width: 100%;
}

.companies {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 145px;
    align-items: center;
}

hr.bar1 {
    background: #F3D1BF;
    height: 1px;
    width: 50%;
    margin: 70px auto;
}

.about {
    padding-top: 101px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.p5 {
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--orange);
}

.p6 {
    padding-bottom: 26px;
    max-width: 417px;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: var(--secondary);
}

.p7 {
    padding-bottom: 18px;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary);
}

.p8 {
    padding-bottom: 35px;
    max-width: 470px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
}

.BtnAbout {
    padding: 18px 33px;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.counter>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    padding-left: 48px;
    width: 391px;
    height: 176px;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
}

.p9 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: var(--secondary)
}

.p10 {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary)
}

.counter>div:nth-of-type(1) {
    border-right: none;
    border-radius: 6px 0px 0px 6px;
}

.counter>div:nth-of-type(2) {
    border-right: none;
    border-radius: 6px 0px 0px 6px;
}

.counter>div:nth-of-type(3) {
    border-right: none;
    border-radius: 6px 0px 0px 6px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
}