@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&family=Nunito&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Epilogue;
    font-style: normal;
}

 :root {
    --primary: white;
    --secondary: #391400;
    --orange: #EF6C57;
    --gray: rgba(255, 255, 255, 0.64);
    --Lightgold: #FDF0E9;
}

body {
    margin: auto;
}

nav {
    margin: 30px auto auto;
    max-width: 1440px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    background-image: url("./src/background.png");
    min-height: 880px;
    width: 100%;
    margin-top: -31px;
    padding: 45px;
}

.logo {
    position: relative;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.menu a {
    text-decoration: none;
    font-family: Epilogue;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: var(--primary);
}

.contact button {
    font-family: Epilogue;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
    background-color: transparent;
    padding: 18px 35px;
    border: 1px solid rgba(255, 255, 255, 0.294);
    box-sizing: border-box;
    border-radius: 6px;
}

.Bheader {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1440px;
    justify-content: space-between;
}

.leftheader {
    /* max-width: 50%; */
    padding-top: 125px;
}

.rightheader {
    /* max-width: 50%; */
    padding-top: 120px;
}

.p1 {
    padding-bottom: 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--orange);
}

.p2 {
    position: relative;
    max-width: 513px;
    padding-bottom: 24px;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    z-index: 2;
    color: var(--primary);
}

.star {
    position: absolute;
    top: -27px;
    right: 77px;
    z-index: -1;
}

.p3 {
    padding-bottom: 34px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--gray);
}

.p4 {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--gray);
}

.p4 span {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--primary);
    letter-spacing: -0.5px;
}

.Bheader-btns {
    display: flex;
    gap: 46px;
}

.B-Btn1 {
    background: #EF6D58;
    border-radius: 6px;
    padding: 18px 24px;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
    border: none;
}

.B-Btn2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--primary);
    background-color: transparent;
    border: none;
}

.userProfile1 {
    padding-top: 108px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.headerimg {
    position: relative;
    max-width: 570px;
    width: 100%;
}

main {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #FDF0E9;
    /* padding: 0 20px; */
}

img.companies {
    width: 100%;
}

.contact img {
    display: none;
}

.companies {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 145px;
    align-items: center;
    flex-wrap: wrap;
}

hr.bar1 {
    background: #F3D1BF;
    height: 1px;
    width: 70%;
    margin: 70px auto;
    border: none;
}

.about {
    padding-top: 101px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
    flex-wrap: wrap;
}

.pTitle {
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--orange);
}

.p6 {
    padding-bottom: 26px;
    max-width: 417px;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: var(--secondary);
}

.p7 {
    padding-bottom: 18px;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary);
}

.p8 {
    padding-bottom: 35px;
    max-width: 470px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
}

.BtnAbout {
    padding: 18px 33px;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 161px;
    padding-bottom: 140px;
    flex-wrap: wrap;
}

.counter>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
    padding-left: 48px;
    width: 391px;
    height: 176px;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
}

.p9 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: var(--secondary)
}

.p10 {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary)
}

.counter>div:nth-of-type(1) {
    border-right: 1px solid #F3D1BF;
    border-radius: 6px 0px 0px 6px;
}

.counter>div:nth-of-type(2) {
    border-right: none;
    border-radius: 0;
}

.counter>div:nth-of-type(3) {
    border-radius: 0 6px 6px 0;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 130px;
    flex-wrap: wrap;
}

.p11 {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--orange);
    padding-bottom: 17px;
}

.p12 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: var(--secondary);
    max-width: 450px;
    padding-bottom: 31px;
}

.p13 {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    max-width: 470px;
    padding-bottom: 28px;
}

.p14 {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--secondary);
}

.contact img {
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    box-sizing: border-box;
    border-radius: 6px;
}

.projectsL>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 22px;
}

.projectsL p {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: var(--secondary);
}

.projectsL span {
    padding-right: 66px;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    color: var(--secondary);
}

.bar2 {
    background: #F3D1BF;
    height: 1px;
    width: 70%;
    margin: 70px auto;
    margin-top: 135px;
    border: none;
}

.video {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 191px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 51px;
}

.videoL {
    /* padding-right: 130px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    position: relative;
}

.videoL p {
    position: absolute;
    bottom: 12px;
    left: 25px;
}

.playvideo {
    position: relative;
    width: 570px;
    height: 368px;
    background-image: url(./src/Bitmap.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.playvideo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p15 {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.p16 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: var(--secondary);
    max-width: 469px;
}

.p17 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary);
    max-width: 470px;
    padding-top: 26px;
    padding-bottom: 24px;
}

.p18 {
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: var(--secondary);
    max-width: 397px;
}

.Features {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.marks p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    display: flex;
    flex-direction: row;
}

.marks img {
    width: 18px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.marks .path div {
    position: relative;
    background-color: var(--orange);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.marks .path {
    display: flex;
    flex-direction: row;
}

.featuresL {
    padding-right: 170px;
}

.Features2 {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
}

.p20 {
    max-width: 370px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary);
    padding-top: 20px;
    padding-bottom: 28px;
}

.p21 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--secondary);
}

.featuresR {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.ftop {
    position: relative;
    width: 80px;
    height: 80px;
    background: #EF6C57;
    border-radius: 50%;
    margin-bottom: 40px;
}

.ftop img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fp1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--secondary);
    padding-bottom: 20px;
}

.fp2 {
    max-width: 240px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
}

.fitems {
    background: #FFFFFF;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
    border-radius: 6px 6px 0px 6px;
    padding: 48px;
    border: none;
}

.fbox2 {
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 0px 6px 6px 0px;
    padding: 105px 48px 48px 48px;
    border-left: none;
}

.sp0 {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
    padding-bottom: 20px;
}

.sp1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: var(--secondary);
    max-width: 463px;
    padding-bottom: 25px;
}

.sp2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary);
    max-width: 470px;
}

.pbox1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(57, 20, 0, 0.64);
    max-width: 386px;
    margin-top: 10px;
}

.sbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding-top: 30px;
}

.services {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 220px;
    flex-wrap: wrap;
}

.servicesL {
    padding-right: 120px;
}

.sbox img {
    position: relative;
    width: 64px;
    height: 64px;
}

.pbox2 {
    padding-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--secondary);
}

.btnbox {
    margin-top: 35px;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary);
    padding: 18px 37px;
    background-color: white;
    border: none;
}

.services2 {
    padding-top: 140px;
    margin: auto;
}

.s2box {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 35px;
}

.s2boxT {
    padding-top: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
}

.s2boxbody {
    padding-top: 20px;
    padding-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    max-width: 294px;
}

.s2boxfooter {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
}

.s2box div:nth-of-type(1) {
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    padding: 48px 48px 52px 48px;
}

.s2box div:nth-of-type(2) {
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-right: none;
    padding: 48px 48px 52px 48px;
}

.s2box div:nth-of-type(3) {
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 0px 6px 6px 0px;
    padding: 48px 48px 52px 48px;
}

.sboxborderimg {
    width: 80px;
    height: 80px;
    background: #EF6C57;
    border: none;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Portfolio {
    background-color: #28293E;
}

.Latest-Work {
    margin: auto;
    padding-bottom: 132px;
}

.p22 {
    padding-top: 92px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.p23 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.galleryT p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.64);
    position: relative;
}

.galleryT span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.64);
    position: absolute;
    top: -10px;
    right: -15px;
}

.galleryT {
    padding-top: 45px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
}

.galerygrid {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin: auto;
    padding-bottom: 65px;
}

.col1,
.col2 {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 30px;
    flex-wrap: wrap;
}

.galerygrid .grid1 {
    background-image: url(./src/Bitmap1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 256px 318px 51px 48px;
    border-radius: 0 0 8px 0;
}

.galerygrid .grid2 {
    background-image: url(./src/Bitmap2.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 256px 424px 51px 48px;
}

.galerygrid .grid3 {
    background-image: url(./src/Bitmap3.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 256px 378px 51px 48px;
}

.galerygrid .grid4 {
    background-image: url(./src/Bitmap4.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 256px 261px 51px 48px;
}

.galerygrid .p24 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 23px;
    width: 116px;
}

.galerygrid .p25 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.p26 {
    margin: auto;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 30px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 170px;
}

.GetStarted {
    position: relative;
    display: flex;
    margin: auto;
    background: #FDF0E9;
    border-radius: 6px;
    max-width: 1170px;
    align-items: flex-start;
    justify-content: center;
    min-height: 336px;
}

.GetStarted div {
    margin-top: 80px;
    margin-bottom: -20px;
}

.p27 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--orange);
    margin-top: 20px;
    padding-bottom: 13px;
}

.p28 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    max-width: 248px;
    padding-bottom: 23px;
}

.p29 {
    max-width: 154px;
    background-color: var(--orange);
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 0;
    border-radius: 5px;
}

img.gifts {
    position: absolute;
    left: 88px;
    top: -74px;
}

.bitmap5 {
    position: relative;
}

img.bitmapf {
    position: absolute;
    right: 5px;
    top: -124px;
}

.p30 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.p31 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;
    padding-bottom: 65px;
}

.Events {
    padding-top: 140px;
}

.eventsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

span {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    color: #FFFFFF;
}

.dates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evboxi {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.p32 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.p33 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 36px;
}

.p34 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.p35 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.64);
    max-width: 290px;
    padding-bottom: 20px;
}

.p36 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.eventsBox1,
.eventsBox2,
.eventsBox3 {
    border: 1px solid #3A3C56;
    box-sizing: border-box;
    border-radius: 6px;
    /* padding: 40px; */
}

.dates {
    display: flex;
    align-items: baseline;
    padding: 40px;
}

.evboxi {
    padding-top: 36px;
}

.Events hr {
    background: #3A3C56;
    border: none;
    width: 100%;
    height: 1px;
    margin-bottom: 40px;
}

.p37 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.p38 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #FFFFFF;
    max-width: 531px;
}

.slider {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    padding-top: 65px;
    flex-wrap: wrap;
    justify-content: center;
}

.OurTeam {
    margin: auto;
    max-width: 1184px;
    position: relative;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
}

.Sbox {
    position: relative;
    padding: 0 15px;
}

.userImg {
    width: 270px;
    height: 272px;
    border: 1px solid #3A3C56;
    position: relative;
}

.userImg img {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.TopSlider {
    max-width: 1173px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.right-arr {
    transform: rotate(182deg);
}

.SliderRemote {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 8px;
}

.dots {
    margin: auto;
    padding-top: 55px;
}

.dots img {
    padding: 0 10px;
}

.arrow {
    border: 1px #ffffff52 solid;
    border-radius: 50%;
    padding: 10px 11px;
}

.founder {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 180px 0;
    /* flex-wrap: wrap; */
    gap: 25px;
}

.p39 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
    padding-bottom: 33px;
}

.p40 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    padding-bottom: 45px;
}

.p41 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.p42 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.64);
}

.fouR {
    /* padding-left: 130px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.featuresB {
    background-color: RGB(253, 240, 233);
    padding-top: 124px;
}

.p43 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
    padding-bottom: 20px;
}

.p44 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -1px;
    color: #391400;
}

.userProfile {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.p45 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    max-width: 490px;
    padding-bottom: 35px;
}

.p46 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
}

.p47 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
}

.stars {
    padding-bottom: 35px;
}

.clientsProfiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

.profile1 {
    padding: 48px;
    background: #FFFFFF;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
    border-radius: 6px 0px 0px 0px;
}

.profile2 {
    display: flex;
    padding: 48px 48px 0 48px;
    flex-direction: column;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 0px 6px 0px 0px;
    height: 336px;
}

.profile4 {
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 0px 0px 6px 0px;
    padding: 48px;
}

.profile3 {
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 0px 0px 6px 6px;
    padding: 48px;
}

.col-1,
.col-2 {
    display: flex;
    flex-direction: column;
}

.p50 {
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #391400;
    padding: 18px 41px;
    max-width: 138px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
}

.p51 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.p52 {
    max-Width: 358px;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #391400;
}

.p53 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
    padding-bottom: 17px;
}

.pribox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
}

.p54 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
    padding-bottom: 15px;
}

.p55 {
    max-width: 246px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    padding-bottom: 27px;
    max-width: 246px;
}

.p56 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    padding-bottom: 15px;
}

.p57 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    padding-bottom: 15px;
}

.TopPricing {
    max-width: 1173px;
    margin: auto;
}

.p58 {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #391400;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    padding: 18px 32px;
    max-width: 155px;
    margin-top: 35px;
}

.ListStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.ListStyle img {
    width: 16px;
    height: 16px;
    margin-bottom: 18px;
}

.priBox1 {
    padding: 44px 100px 48px 48px;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
    width: 391px;
    /* min-height: 512px; */
}

.priBox2 {
    /* min-height: 560px; */
    padding: 32px 48px 48px 48px;
    background: #FFFFFF;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
    border-radius: 6px 6px 0px 0px;
}

.priBox3 {
    padding: 44px 100px 48px 48px;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 0px 6px 6px 0px;
    width: 391px;
    /* min-height: 512px; */
}

.p60 {
    max-width: 246px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    padding-bottom: 27px;
    max-width: 295px;
}

.p59 {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #EF6D58;
    border-radius: 6px;
    padding: 18px 32px;
    max-width: 155px;
    margin-top: 35px;
}

.p61 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    background: #EF6D58;
    border-radius: 19px;
    padding: 4px 15px;
    max-width: 92px;
    margin-bottom: 22px;
}

.p62 {
    max-width: 295px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    padding-bottom: 27px;
}

.faq {
    padding-top: 155px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.faqL {
    padding-right: 130px;
}

.p63 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
    max-width: 371px;
    padding-bottom: 30px;
}

.p64 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    max-width: 470px;
    padding-bottom: 30px;
}

.p65 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    padding-bottom: 20px;
}

.p66 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
}

.faqBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    padding: 40px;
    justify-content: space-between;
}

.faqBox img {
    padding-left: 30px;
}

.p67 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #391400;
    padding-bottom: 70px;
}

.Awards {
    padding-top: 155px;
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    max-width: 1170px;
}

.imgawards {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33.33%;
}

.imgawardsR {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.awardsBoxi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #F3D1BF;
}

.awardsBoxi:nth-of-type(3) {
    border-top: 1px solid #F3D1BF;
    border-bottom: 1px solid #F3D1BF;
}

.imgawards img {
    width: 120px;
    height: 80px;
    opacity: 0.92;
    border-radius: 6px;
}

.imgawards {
    padding: 15px 0;
}

.imgawardsR {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
}

.p69 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(57, 20, 0, 0.64);
    width: 33.33%;
}

.p68 {
    padding-left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #391400;
    /* width: 111px; */
}

.p70 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    color: #391400;
}

.p71 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(57, 20, 0, 0.64);
    padding-top: 70px;
}

.p71 span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    letter-spacing: 0px;
    padding-left: 7px;
}

.Our-Blog {
    max-width: 1170px;
    margin: auto;
}

.ourblogB1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.p72 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.p73 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #391400;
    max-width: 318px;
}

.p74 {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #391400;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    width: 170px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BlogBoxi img {
    width: 370px;
    height: 224px;
}

.BlogBoxi p {
    padding: 7.5px 0;
}

.BlogBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 65px;
    border-bottom: 1px solid #F3D1BF;
    flex-wrap: wrap;
}

.p75 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #391400;
}

.p76 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    max-width: 338px;
}

.p77 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    margin-bottom: 70px;
}

.Contact-Us {
    padding-top: 60px;
}

.conTop {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conTop div {
    display: flex;
    align-items: center;
    gap: 30px;
}

.conTop input {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    background: #FFFFFF;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 6px;
    width: 370px;
    height: 48px;
    text-indent: 15px;
}

.p78 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
}

.p79 {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #391400;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    padding: 18px 45px;
}

.map {
    margin-top: 115px;
    min-height: 720px;
    background-image: url(./src/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.mapBox {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 57px 48px 48px 48px;
    max-width: 470px;
    min-height: 464px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 135px;
    z-index: 2;
}

.p80 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    padding-bottom: 25px;
}

.mapBox input {
    background: #FFFFFF;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 6px;
    Width: 374px;
    min-Height: 48px;
    text-indent: 15px;
    margin-bottom: 25px;
}

.mapBox input:nth-of-type(3) {
    height: 96px;
}

.p81 {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #EF6D58;
    border-radius: 6px;
    padding: 18px 30px;
    max-width: 154px;
    max-height: 48px;
    float: right;
}

.featuresR img:nth-of-type(1) {
    width: 100%;
}

img.pin {
    position: absolute;
    right: 25%;
    top: 55%;
}

.infoIcon {
    background: #EF6D58;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 25px; */
}

.InfoBox>div:nth-of-type(1) {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contactInfo {
    display: flex;
    padding-top: 80px;
    margin: auto;
    max-width: 1170px;
}

.InfoBox {
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
    width: 391px;
    height: 192px;
    margin-bottom: 25px;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p82 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
    padding-left: 25px;
}

.p83 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #391400;
}

.footBox {
    max-width: 1170px;
    min-height: 542px;
    background: #EF6D58;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 130px;
    padding: 20px;
}

.footBox>div:nth-of-type(1) {
    padding-right: 80px;
}

.p84 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #FFFFFF;
    max-width: 405px;
    padding-bottom: 25px;
}

.p85 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.64);
    max-width: 470px;
    padding-bottom: 35px;
}

.Labout img,
.servicesL img,
.fouL img {
    width: 100%;
}

.p86 {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #391400;
    padding: 18px 32px;
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    max-width: 155px;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    padding-top: 90px;
    border-bottom: 1px solid #F3D1BF;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

.footC {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.p87 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
}

.p88 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

footer ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    list-style: none;
}

.footC>div {
    width: 48px;
    height: 48px;
    background: #EF6D58;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

.p89 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
}

.copyright>div {
    display: flex;
    max-width: 1170px;
    gap: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    color: #391400;
}

@media (max-width: 500px) {
    .mapBox {
        left: 0;
    }
    .playvideo {
        position: relative;
        width: 56vh;
        height: 291px;
    }
}

@media (max-width: 600px) {
    .foot-4 {
        display: none;
    }
}


/*1223*/

@media (max-width:1223px) {
    .galerygrid {
        flex-wrap: wrap;
    }
    .galerygrid .grid1,
    .galerygrid .grid2,
    .galerygrid .grid3,
    .galerygrid .grid4 {
        width: 80%;
        background-size: cover;
        margin: auto;
    }
    .conTop {
        flex-wrap: wrap;
    }
    .slider {
        flex-wrap: wrap;
        justify-content: center;
    }
    .OurTeam {
        padding: 50px 20px;
        align-items: center;
    }
}


/* Tablet 900px */

@media (max-width:900px) {
    .Bheader {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .leftheader {
        order: 2;
        padding-top: 0;
    }
    .rightheader {
        order: 1;
        padding-top: 50px;
    }
    .menu,
    .contact button {
        display: none;
    }
    .contact img {
        display: block;
    }
    .userProfile1 {
        padding-top: 50px;
    }
    .companies {
        gap: 40px;
    }
    .about {
        padding: 20px;
        gap: 15px;
    }
    .counter>div:nth-of-type(2) {
        border-right: 1px solid #F3D1BF;
    }
    .counter {
        padding-top: 100px;
        gap: 20px;
    }
    .projects {
        gap: 70px;
        padding: 20px;
    }
    .bar2 {
        margin-top: 0;
    }
    .video {
        justify-content: center;
    }
    .videoL {
        padding-right: 0;
    }
    .videoR {
        padding-top: 20px;
    }
    .fouL img {
        width: 100%;
    }
    .video {
        margin-bottom: 15px;
    }
    .Features {
        justify-content: center;
    }
    .featuresL {
        padding-right: 0;
    }
    .Features2 {
        justify-content: center;
    }
    .services {
        padding-top: 20px;
        justify-content: center;
    }
    .services2 {
        padding-top: 20px;
    }
    .sp0,
    .sp1 {
        margin: auto;
        text-align: center;
        padding-top: 16px;
    }
    .galleryT {
        flex-wrap: wrap;
    }
    .featuresR {
        flex-wrap: wrap;
        justify-content: center;
    }
    .mapBox {
        left: 0;
    }
    .p2 {
        font-size: 51px;
    }
    .galleryT {
        flex-wrap: wrap;
        padding: 23px;
        gap: 30px;
    }
    .playvideo {
        width: 425px;
        height: 277px;
    }
    .s2box {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .s2box div:nth-of-type(2) {
        border: 1px solid #F3D1BF;
    }
    .s2box div:nth-of-type(1),
    .s2box div:nth-of-type(2),
    .s2box div:nth-of-type(3) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid #F3D1BF;
        margin-bottom: 10px;
    }
    .founder {
        flex-wrap: wrap;
        justify-content: center;
    }
    .galerygrid .grid1,
    .galerygrid .grid2,
    .galerygrid .grid3,
    .galerygrid .grid4 {
        width: 80%;
        height: 400px;
        padding: 256px 424px 51px 48px;
        background-size: cover;
    }
    .col1,
    .col2 {
        align-items: center;
        justify-content: center;
    }
    .galerygrid .p25 {
        width: 250px;
    }
    .Portfolio {
        margin-top: 20px;
    }
    img.imgSize {
        width: 100%;
    }
    img.bitmapf {
        position: relative;
        right: 0;
        top: 4px;
    }
    .GetStarted {
        justify-content: space-between;
        padding: 0 23px;
        align-items: center;
        margin: 0 10px;
    }
    .GetStarted div {
        margin: 0;
    }
    .bitmap5 img:nth-of-type(1) {
        display: none;
    }
    .slider {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .SliderRemote {
        display: none;
    }
    .TopSlider {
        justify-content: center;
        text-align: center;
    }
    .fouL img {
        width: 100%;
    }
    .fouR {
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .pribox {
        gap: 20px;
    }
    .topPricing {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0 0 0;
    }
    .p52 {
        /* max-Width: 50%; */
        text-align: center;
    }
    .p40 {
        max-width: 80%;
        text-align: center;
        margin: auto;
        font-size: 38px;
        line-height: 40px;
        padding-bottom: 20px;
    }
    .faq {
        padding-top: 70px;
    }
    .faqL {
        padding: 0;
    }
    .awardsBox {
        margin: 0 25px;
    }
    .Our-Blog {
        margin-top: 50px;
    }
    .p72 {
        text-align: center;
    }
    .BlogBox {
        justify-content: center;
        gap: 20px;
    }
    .p77 {
        margin-bottom: 0;
    }
    .contactInfo {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .dots {
        display: none;
    }
    .conTop input {
        width: 260px;
    }
    .foot {
        padding: 50px 20px;
    }
    .copyright {
        padding: 20px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .ourblogB1 {
        padding: 20px;
    }
    .headerimg {
        width: 85%;
        margin: auto;
        display: flex;
    }
}